
/* RegisterPage Styles */

.register-page {
  align-items: center;
  justify-content: center;
}

.register-container {
  max-width: 450px;
  
}

.register-container .input {
  padding: 0.75rem 1rem 0.75rem 3rem;
  background-color: #283618;
    border-color: var(--orange-accent);
}

.register-container .input:focus {
  outline: none;
  border-color: var(--orange-accent);
  box-shadow: 0 0 0 2px rgba(230, 184, 140, 0.2);
}

.register-container .input::placeholder {
  border-color: var(--orange-accent);
  color: var(--beige);
  opacity: 0.8;
}

.welcome-message {
  margin-bottom: 2rem;
}

.welcome-message p {
  color: var(--beige);
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .welcome-message p {
    font-size: 1rem;
  }
}
