/* Variables globales */
:root {
  --dark-green: #283618;
  --medium-green: #4a7c59;
  --light-green: #6b8e6b;
  --beige: #e0e0d1;
  --light-beige: #f5f5dc;
  --white: #ffffff;
  --orange-accent: #DDA15E;
  --error: #dc3545;
  --success: #28a745;
}

/* Reset y estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'jonova',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CECBB5;
  color: var(--dark-green);
  line-height: 1.6;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
